<ng-template #researchtemplate>
  <div class="modal-header">
    <p>Onderzoek</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- registration form-->
    <div class="col-sm text-center">
      <svg *ngIf="showLoginSpinner" class="spinner text-center" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>

    <div class="row">
      <div class="col-12" style="padding:20px">
         <!--  <div class="text-center">
          <img *ngIf="currentCoverUrl != ''" [src]="'uploads/' + currentCoverUrl" style="padding-left: 20px" class="img-fluid rounded mx-auto d-block">
          <img *ngIf="currentCoverUrl == ''" src="assets/research.jpg" style="padding-left: 20px" class="img-fluid rounded mx-auto d-block">
        </div> -->
        <h2 style="color: #e74628;">{{currentResearchTitle}}</h2><br><br>
        <div class="author_tile">
          <div class="publish_info">
            <p><b>Status:</b>&nbsp;{{currentResearchStatus}}</p>
            <p><b>Onderzoekers:</b><br>{{currentResearchPeople}}</p>
          </div>
        </div><hr><br>
        <div [innerHTML]="currentResearchWysig | safe: 'html'"></div>
        <br><br><br>
      

      </div>
    </div>
    <!-- /registration form-->
  </div>

</ng-template>



<!-- Start Blog Area -->
<section class="htc__blog__area home-blog bg__white ptb--100" style="background-color: rgba(85,69,150,0.05);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section__title text-center">
          <h4 style="font-size: 40px;font-weight:700;color: #e74628;">Onderzoeken</h4>
          <img src="assets/116.png" class="img-fluid" style="max-width: 750px;">
        </div>
      </div>
    </div>
    <div>

    </div>
    <div class=" mt--30">
      
          <div class="row">


            <div *ngFor="let research of researchArray; let i = index" class="col-lg-5 col-xl-6 col-md-6 col-12" style="cursor:pointer;padding:5px">
              <div (click)='openModal(researchtemplate, research.id)' class="single_latest_post " style="min-height:300px; background-color: white;">
                <!-- <div class="ht__blog__thumb">
                  <a>
                    <img *ngIf="research.coverurl != ''" [src]="'uploads/' + research.coverurl" class="resthumb" alt="blog images">
                    <img *ngIf="research.coverurl == ''" src="assets/research.jpg" class="resthumb" alt="blog images">
                  </a>
                </div> -->

                <div class="htc__blog__content" style="padding: 25px;">
                  <div class="blog__post_title">
                    <h3 ><a>{{research.uname}}</a></h3>
                  </div>
                  <div class="blog_post__meta"><br>
                    <!-- <div class="post_author_img">
                                    <a href="#"><img src="assets/blog/latest_post/author_img_1.png" alt=""></a>
                                </div> -->
                    <div class="post_content">
                      <div class="author_tile">
                        <div class="publish_info">
                          <p><b>Status:</b>&nbsp;{{research.status}}</p>
                          <p><b>Onderzoekers:</b><br>{{research.initiative}}</p>
                        </div>
                      </div>
                      <button type="button" class="btn btn-warning"><h3>Meer lezen</h3></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
       
      <!-- Start single Blog -->

    </div>
  </div>
</section>
<div class="special_banner4">
  <div class="container">
      <div class="row"><br><br><br><br><br><br>
          <!-- <div class="col-lg-12 col-12">
              <div class="sepcial_banner_content">
                  <h4>RENurse</h4>
                  <p>Het RENurse consortium bestaat uit de volgende leden:</p>
                  
              </div>
              <ul class="logos-container">
                      <li *ngFor="let logo of logoArray; let i = index"  class="logo-item">
                          <img [src]="'uploads/' + logo.filename" class="resthumb" alt="blog images">
                      </li>
                  </ul>
          </div> -->
      </div>
  </div>
</div>