<section class="htc__support__area ptb--100 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12">
        <div class="sepcial_banner_content">
          <h4>Leden stuurgroep:</h4><br>
          <div class="table-responsive">
            <table class="table table-striped " style='background-color:white;color: rgb(21, 9, 75)'>
              <thead>
                <tr>

                  <th scope="col">Naam</th>
                  <th scope="col">Ziekenhuis</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Wilma Jackson</td>
                  <td>Voorzitter, Elisabeth-Tweesteden Ziekenhuis</td>
                </tr>
                <tr>

                  <td>Monique Dings</td>
                  <td>Máxima Medisch Centrum</td>
                </tr>
                <tr>
                  <td>Prof. dr. Marieke Schuurmans</td>
                  <td>Universitair Medisch Centrum Utrecht</td>
                </tr>

                <tr>
                  <td>dr. Jeroen Dikken</td>
                  <td>De Haagse Hogeschool</td>
                </tr>
                <tr>
                  <td>dr. Catharina van Oostveen</td>
                  <td>Spaarne Gasthuis</td>
                </tr>
                <tr>
                  <td>dr. Marika Trieling-Laan</td>
                  <td>Elisabeth-Tweesteden Ziekenhuis</td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div>

          <br><br>
          <h4>Leden ondersteunende groep:</h4><br>
          <div class="table-responsive">
            <table class="table table-striped " style='background-color:white;color: rgb(21, 9, 75)'>
              <thead>
                <tr>
                  <th scope="col">Naam</th>
                  <th scope="col">Ziekenhuis</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ingrid Steenis</td>
                  <td>Albert Schweitzer ziekenhuis</td>
                </tr>
                <tr>

                  <td>Joke Bosch</td>
                  <td>Albert Schweitzer ziekenhuis</td>
                </tr>
                <tr>
                  <td>Caroline Otter</td>
                  <td>Martini ziekenhuis</td>
                </tr>

                <tr>
                  <td>Marjo van den Elsen</td>
                  <td>Deventer ziekenhuis</td>
                </tr>
                <tr>
                  <td>Petra Lankhorst</td>
                  <td>Deventer ziekenhuis</td>
                </tr>
                <tr>
                  <td>Liduine Wellink</td>
                  <td>Deventer ziekenhuis</td>
                </tr>
                    <tr>
                        <td>Marieke Zeeman</td>
                        <td>Deventer ziekenhuis</td>
                      </tr>
                      <tr>
      
                        <td>Bianca Boxma</td>
                        <td>Franciscus Vlietland Groep</td>
                      </tr>
                      <tr>
                        <td>Lysette Hakvoort</td>
                        <td>Maxima Medisch Centrum</td>
                      </tr>
      
                      <tr>
                        <td>Christa Hoogewind</td>
                        <td>Isala ziekenhuis</td>
                      </tr>
                      <tr>
                        <td>Janette van Veen</td>
                        <td>Isala</td>
                      </tr>
                      <tr>
                        <td>Marco Pater</td>
                        <td>Isala</td>
                      </tr>
                      <tr>
                              <td>Wendy te Woerd</td>
                              <td>Rijnstate</td>
                            </tr>
                            <tr>
            
                              <td>Esther Burgers</td>
                              <td>Rijnstate</td>
                            </tr>
                            <tr>
                              <td>Christel Derks</td>
                              <td>Elisabeth-Tweesteden Ziekenhuis</td>
                            </tr>
            
                            <tr>
                              <td>Sandra Koster</td>
                              <td>Medisch Spectrum Twente</td>
                            </tr>
                            <tr>
                              <td>Miranda Kroezen</td>
                              <td>Medisch Spectrum Twente</td>
                            </tr>
                            <tr>
                              <td>Catharina van Oostveen</td>
                              <td>Spaarne Gasthuis</td>
                            </tr>
                            <tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="htc__support__content">
          <div class="htc__support__inner">
            <h2 class="text--theme">Wie zijn wij?</h2>
            <div class="htc__support__details" style="margin-right:20px">
              <p>RENursE bestaat uit een stuurgroep, een onderzoeksgroep en een ondersteunende groep.
                <br><br>
                De stuurgroep bevordert en behartigt de belangen van het samenwerkingsverband. Daarnaast geeft zij richting aan het onderzoeksprogramma en de landelijke communicatie. In de stuurgroep zitten zowel de kartrekkende ziekenhuizen, als Prof. dr. Marieke Schuurmans, hoogleraar Verplegingswetenschap Universiteit Utrecht en dr. Jeroen Dikken, docent Haagse Hogeschool, beide vanwege hun inhoudelijke expertise.
                <br><br>
                De onderzoeksgroep bestaat uit verpleegkundige onderzoekers die een onderzoeksvraag uitwerken en het onderzoek na goedkeuring door de stuurgroep uitvoeren. De onderzoeksgroep verwerkt de onderzoeksresultaten in publicaties en een onderzoeksrapport. Zij rapporteert aan de stuurgroep en de ondersteunende groep.
                <br><br>
                De ondersteunende groep bestaat uit vertegenwoordigers van de deelnemende ziekenhuizen. Zij leveren een bijdrage aan de dataverzameling voor lopende onderzoeksprojecten. Daarnaast worden de resultaten uit de onderzoeksprojecten binnen deze groep besproken en wordt ook richting gegeven aan mogelijkheden voor vervolgonderzoek.
                <br><br>
                Elk onderzoek wordt uitgewerkt door een nieuw in te richten onderzoeksgroep met verpleegkundig onderzoekers uit de participerende ziekenhuizen. Per onderzoek wordt op maat samenwerking gezocht met Hogescholen en/of Universiteiten.
              </p>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</section>
<!--Special Banner start-->
<div class="special_banner">
  <div class="container">
    <div class="row"><br><br><br><br><br><br>
      <!-- <div class="col-lg-12 col-12">
              <div class="sepcial_banner_content">
                  <h4>RENursE</h4>
                  <p>Het RENursE consortium bestaat uit de volgende leden:</p>
                  
              </div>
              <ul class="logos-container">
                      <li *ngFor="let logo of logoArray; let i = index"  class="logo-item">
                          <img [src]="'uploads/' + logo.filename" class="resthumb" alt="blog images">
                      </li>
                  </ul>
          </div> -->
    </div>
  </div>
</div>
