 <!-- slider-area-start -->
 <div class="slider__container">
    <div class="owl-carousel">
        <div class="slider-wrapper bg-opacity" style="background-image:url(assets/slider/slider-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content slider-text-animation">
                            <h1>RENursE</h1>
                            <a style="cursor: pointer">Betere zorg, samen</a>									
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
<!-- <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> -->
<!-- Start Support Area -->
<section class="htc__support__area ptb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="htc__support__wrap clearfix">
                <div class="about__right_image">
                    <img style="padding:25px" class="topround" src="assets/about/h_about.png" alt="">
                </div>
                <div class="col-lg-7 col-sm-12 col-12">
                    <div class="htc__support__content">
                        <div class="htc__support__inner">
                            <h4 class="text--theme">Samenwerking is key</h4>
                            <h2 class="text--theme">RENursE</h2>
                            <div class="htc__support__details" style="margin-right:20px">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Support Area -->
<!-- Start Try Solve Area -->
<section class="htc__try__solve__area">
    <div class="container-fluid">
        <div class="home--try" style="background: rgba(0, 0, 0, 0) url(assets/about/2.png) no-repeat scroll 0 0 / cover;" >
            <div class="htc__try__solveleft">
              <!--   <div class="htc__try__details">
                    <div class="try_solve_middle_inner">
                        <h2>Wat we doen</h2>
                    </div>
                </div> -->
            </div>
        </div>                
        <div class="row">
            <div class="offset-lg-5 col-lg-7 col-md-12 col-12">
                <div class="htc__solve__items">
                    <div class="htc__solve__content pb--80">
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <div class="ser_icon">
                                <img src="assets/service/icon/ser-cion.png" alt="services Icon">
                            </div>
                            <div class="ser__content">
                                <h4>Onderzoeken</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            </div>
                        </div>
                        <!-- End Single Items -->
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <div class="ser_icon">
                                <img src="assets/service/icon/ser-cion-3.png" alt="services Icon">
                            </div>
                            <div class="ser__content">
                                <h4>Samenwerken</h4>
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dantium, totam rem aperiam, eaque</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Items -->
                    <div class="htc__solve__content">
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <div class="ser_icon">
                                <img src="assets/service/icon/ser-cion-2.png" alt="services Icon">
                            </div>
                            <div class="ser__content">
                                <h4>Verscherpen</h4>
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dantium, totam rem aperiam, eaque</p>
                            </div>
                        </div>
                        <!-- End Single Items -->
                        <!-- Start Single Items -->
                        <div class="ht__sin__solve">
                            <div class="ser_icon">
                                <img src="assets/service/icon/ser-cion-4.png" alt="services Icon">
                            </div> 
                            <div class="ser__content">
                                <h4>Optimaliseren</h4>
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dantium, totam rem aperiam, eaque</p>
                            </div>
                        </div>
                        <!-- End Single Items -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Try Solve Area -->



<!--Special Banner start-->
<div class="special_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="sepcial_banner_content">
                    <h4>Lorum ipsum</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <a >Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--special Banner end-->




<!-- End Blog Area -->
<!-- Start Subscribe Area -->
<!-- <section class="htc__subscribe__area subscribe--transparent">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="htc__subscribe__inner">
                    <div class="newsletter_section_title">
                        <h2 class="text-theme">Subscribe Email</h2>
                        <h4>Get our latest news & update regularly</h4>
                    </div>
                    <div class="newsletter__form">
                        <div class="input__box">
                            <form action="#">
                                <div class="input_email_inner">
                                    <input type="email" placeholder="Type Email Address">
                                </div>
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Subscribe Area -->
