.topround{
    border-top-left-radius: 100px;
    border-top-right-radius:100px;
}

.logos-container {
    padding: 0;
    margin: 0 6.25% 0 6.25%;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: center;
    
    list-style: none;
  }
  
  .logo-item {
    padding: 5px;;
    margin-top: 10px; 
    line-height: 150px;
    text-align: center;
  }