
  <div class="container" id="main">
      <nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary mb-3" style="border-radius: 20px">
          <h3 style="color:white">Ingelogd</h3>
          </nav>
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
       
      </div>
      <div class="col-md-9 col-lg-10 main">
            <p>Op deze pagina kunt u bestanden downloaden</p>
            <br>
            <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">Bestanden die voor u zijn klaargezet:</h5><br>
                    
                    
                      <br>
                      <div *ngFor="let group of userFiles; let i = index">
                        <h4 style="color: red">{{group[0].groupname}}</h4><br>
                        <div class="row">
                        <div *ngFor="let file of userFiles[i]; let u = index" class="col-3">
                          <h6>{{file.name}}</h6>
                          <p>type: <b>{{file.type}}</b></p>
                          <img src="assets/file.png" style="max-width:100px"><br>
                          <a type="button" [href]="'uploads/' + file.name" download class="btn btn-info btn-sm btn-block" style="color:black">Download</a>
                        </div>
                      
                      
                      
                      </div>

                      <br><br>
                    </div>
                  </div>
                </li>
              </ul>

        

      </div>
      <!--/main col-->
    </div>

  </div><br><br><br><br><br><br>


