<!-- Start Appoinment Area -->
<section class="htc__appoinment__area">
  <div class="container">
          
      </div>


      <div class="contact-style1-area pt--110 pb--90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="section-title">
                        <h2 data-aos="fade-up">Contactformulier</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="cnt-style1-content">
                        <p data-aos="fade-up"data-aos-delay="150">Moet nog vullen</p>

                        <ul class="cnt-list" data-aos="fade-up"data-aos-delay="250">
                            <li>
                                <h5>Phone:</h5>
                                <p>8 800 2534 236 <br> 8 800 2534 888</p>
                            </li>
                            <li>
                                <h5>Send Email:</h5>
                                <p>email@example.com</p>
                            </li>
                            <li>
                                <h5>Adres:</h5>
                                <p>Heeft het een adres?</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form id="contactForm">
                        <div class="form-group" data-aos="flip-left">
                            <input name="name"  size="50" type="text" [(ngModel)]="currentName" [ngModelOptions]="{standalone: true}" type="text" placeholder="..Naam..">
                        </div>
                        <div class="form-group"data-aos="flip-left"data-aos-delay="50">
                            <input name="email"  size="50" type="text" [(ngModel)]="currentEmail" [ngModelOptions]="{standalone: true}" type="email" placeholder="..Email..">
                        </div>
                        <div class="form-group"data-aos="flip-left" data-aos-delay="150">
                            <input name="subject"  size="50" [(ngModel)]="currentSubject" [ngModelOptions]="{standalone: true}" placeholder="..Onderwerp..">
                        </div>
                        <div class="form-group"data-aos="flip-left"data-aos-delay="200">
                            <textarea name="message"  cols="50" [(ngModel)]="currentMessage" [ngModelOptions]="{standalone: true}" name="Message" placeholder="Type uw bericht"></textarea>
                        </div>
                        <div class="form-group"data-aos="flip-left"data-aos-delay="250">
                            <button type="submit" class="btn btn-primary px-5 text-uppercase btn-radius" (click)="sendMail()">Verstuur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- End Appoinment Area -->