<!-- Start Appoinment Area -->
<section class="htc__appoinment__area">
  <div class="container">
          <div class="row">
              <div class="col-xl-8 offset-xl-2 col-lg-12 col-12">
                  <div class="section__title text-center">
                      <h2>Contactformulier</h2>
                  </div>
                  <div class="htc__appoinment__wrap">
                      <div class="htc__appoinment__form">
                          <form action="#">
                              <div class="htc__app__box__inner">
                                  <div class="htc__app__box">
                                      <div class="input_inner">
                                          <input type="text" placeholder="..Naam..">
                                      </div>
                                  </div>
                               </div>
                              <div class="htc__app__box__inner">
                                  <div class="htc__app__box">
                                      <input type="email" placeholder="..Email..">
                                  </div>
                              </div>
                              <div class="htc__app__box__inner">
                                  <div class="htc__app__box">
                                      <input type="text" placeholder="..Onderwerp..">
                                  </div>
                              </div> 
                             
                              <div class="appoinment_message">
                                  <div class="htc__app__box message">
                                     <textarea name="Message" placeholder="Type uw bericht"></textarea>
                                  </div>
                                  <div class="ht__appoin__btn">
                                      <button type="submit">Verzend</button>
                                  </div>
                              </div>
                          </form>
                      </div>                            
                  </div>                            
              </div>
          </div>
      </div>

</section>
<!-- End Appoinment Area -->