<ng-template #loginmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Inloggen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <!-- registration form-->
      <div class="col-sm text-center">
        <svg *ngIf="showLoginSpinner" class="spinner text-center" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
      <form class="">
      
        <!-- <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Organisatie
          </button> {{dropdownOrga}}
          <br><br>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="dropdownOrga = 'EDease'" >EDease</button>
            <button class="dropdown-item" type="button" (click)="dropdownOrga = 'DTS'">DTS</button>
            <button class="dropdown-item" type="button" (click)="dropdownOrga = 'Zandbak'">Zandbak</button>
          </div>
        </div> -->
        <fieldset class="form-group has-danger">
          <label for="mail" class="form-control-label">Email adres:</label>
          <input [(ngModel)]="usrMail" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-danger">
        </fieldset>
        <fieldset class="form-group has-danger">
          <label for="password" class="form-control-label">Wachtwoord:</label>
          <input [(ngModel)]="usrPwd" [ngModelOptions]="{standalone: true}" type="password" class="form-control form-control-danger"
            id="password">
        </fieldset>


        <hr class="m-y-2" />

        <!-- <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" [(ngModel)]="keepLoggedIn" [ngModelOptions]="{standalone: true}" class="form-check-input"> Blijf ingelogd op dit apparaat
          </label>
        </div> -->
        <hr class="m-b-2" />
        <button (click)="loginAttempt()" type="submit" class="btn btn-primary btn-lg">Login</button>
        
      </form>
      <div class="row">
        <div class="col-sm">

        </div>
        
        <div class="col-sm">

        </div>
      </div>
      <!-- /registration form-->
    </div>
</ng-template>


<header id="header">
  <!-- header top area start -->
  <div class="header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-3">
                  <ul class="ht-social">
                      <li><a href="https://twitter.com/intent/tweet?button_hashtag=RENurse" target="_blanc"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://instagram.com/Renurse_insta" target="_blanc"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
              <div class="col-md-9">
                  <ul class="ht-contacts">
                      <li><a href="mailto:renurse@etz.nl"><i class="fa fa-envelope"></i>renurse@etz.nl</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- header top area end -->
  <!-- header bottom area start -->
  <div class="header-bottom-wrapper" *ngIf="!dMin">
      <div class="header-bottom">
          <div class="container">
              <div class="row align-items-center">
                  
                  <div class="col-lg d-none d-lg-block">
                      <div class="main-menu">
                          <nav>
                              <ul id="nav_mobile_menu">
                                  <li class="active"><a routerLink="/">Home</a>
                                      
                                  </li>
                                  <li><a routerLink="/wiezijnwij">Wie zijn wij?</a>
                                      
                                  </li>
                                  <li><a routerLink="/research">Onderzoeken</a>
                                      
                                  </li>
                                  <li><a routerLink="/publications">Publicaties</a>
                                      
                                  </li>

                                  <li><a routerLink="/nieuws">Meer info</a>
                                      
                                  </li>

                                  <li><a routerLink="/contact">Contact</a>
                                      
                                  </li>

                                  <li><a *ngIf="isLoggedIn" style="cursor: pointer;" routerLink="/loggedin">Downloads</a>
                                      
                                  </li>

                                  <li><a *ngIf="!isLoggedIn" style="cursor: pointer;" (click)='openModal(loginmodal)'>Inloggen</a>
                                      
                                  </li>

                                  <li><a *ngIf="isLoggedIn" style="cursor: pointer;" (click)='logOut()'>Uitloggen</a>
                                      
                                  </li>
                                 
                              </ul>





                             
                          </nav>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
  <!-- header bottom area end -->
</header>






<div class="wrapper">
  <!-- Start Header Style -->
  <header *ngIf="!dMin" class="htc__header">
    <!-- Start Header Top Area -->
    <div class="htc__header__top">
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 col-md-8 col-12">
            <!--  <div class="ht__header__top__left">
              <p><span><i class="zmdi zmdi-phone"></i></span>Samen sterker</p>
              <p><span><i class="zmdi zmdi-alarm-check"></i></span>:)</p>
            </div> -->
          </div>
          <div class="col-lg-6 col-md-4 col-12">
            <div class="ht__header__top__right">
              <div class="social_icon">
                <!-- <a href="#"><i class="zmdi zmdi-twitter"></i></a> -->
                <!-- <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                <a href="#"><i class="zmdi zmdi-whatsapp"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Start Mainmenu Area -->
    <div class="d-lg-none">
      <div class="container">
        
        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-animated">
            Button dropdown <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else
              here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Mainmenu Area -->
    <!-- End Mainmenu Area -->
  </header>





  
  <router-outlet></router-outlet>


  <footer *ngIf="!dMin">
    <!-- footer area top start -->
    <div class="footer-top">
        <div class="container">
            <br><br><br><br><br><br>
        </div>
    </div>
    <!-- footer area top end -->
    <!-- footer area bootom start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <p style="color:white">Copyright © <a href="#" style="color:red">RENurse</a>, made with ❤ by <a href="https://edease.nl" style="color:red" target="_blanc" >EDease</a></p>
                </div>
               
            </div>
        </div>
    </div>
    <!-- footer area bootom end -->
</footer>



</div>
