<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" >RENursE Admin</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link">Log uit</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column"><br>
          <li class="nav-item">
            <a class="nav-link active" >
              <span data-feather="home"></span>
              Info
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <span data-feather="file"></span>
              Onderzoeken
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <span data-feather="shopping-cart"></span>
              Publicaties
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <span ></span>
              Gebruikers & Toegang
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <span ></span>
              Instellingen
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>


      <h2>Section title</h2>
     
    </main>
  </div>
</div>