<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>

<ng-template #areusure>
  <!-- (click)="openSureModal(areusure,'deletecourse',row.id) -->
  <div class="modal-body text-center">
    <p>Je staat op het punt om dit item te verwijderen</p>
    <p>Weet je het zeker?</p>
    <button type="button" class="btn btn-default" (click)="sureModal('no')">Nee</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="sureModal('yes')">Ja</button>
  </div>
</ng-template>

<ng-template #adminmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Inloggen Admin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- registration form-->
    <div class="col-sm text-center">
      <svg *ngIf="showLoginSpinner" class="spinner text-center" width="65px" height="65px" viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
    <form class="">
      <!-- <div class="dropdown">
     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Organisatie
     </button> {{dropdownOrga}}
     <br><br>
     <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'EDease'" >EDease</button>
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'DTS'">DTS</button>
      <button class="dropdown-item" type="button" (click)="dropdownOrga = 'Zandbak'">Zandbak</button>
     </div>
    </div> -->
      <fieldset class="form-group has-danger">
        <label for="mail" class="form-control-label">Email adres:</label>
        <input [(ngModel)]="admId" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>
      <fieldset class="form-group has-danger">
        <label for="password" class="form-control-label">Wachtwoord:</label>
        <input [(ngModel)]="admPwd" [ngModelOptions]="{standalone: true}" type="password"
          class="form-control form-control-danger" id="password">
      </fieldset>




      <hr class="m-y-2" />

      <!-- <div class="form-check">
     <label class="form-check-label">
      <input type="checkbox" [(ngModel)]="keepLoggedIn" [ngModelOptions]="{standalone: true}" class="form-check-input"> Blijf ingelogd op dit apparaat
     </label>
    </div> -->
      <hr class="m-b-2" />
      <button (click)="adminLoginAttempt()" type="submit" class="btn btn-primary btn-lg">Login</button>

    </form>
    <div class="row">
      <div class="col-sm">

      </div>

      <div class="col-sm">

      </div>
    </div>
    <!-- /registration form-->
  </div>
</ng-template>



<ng-template #researchtemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Onderzoek</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- registration form-->
    <form class="">
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Titel</label>
        <input [(ngModel)]="currentResearchTitle" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>
      <hr class="m-b-2" />

      <div *ngIf="!newResearch">
        <img *ngIf="currentResearchCover != ''" [src]="'uploads/' + currentResearchCover"
          class="img-reponsive img-rounded" />
        <img *ngIf="currentResearchCover == ''" src="assets/research.jpg" class="img-reponsive img-rounded" />
        <br>
        <p>Afbeelding uploaden</p>
        <input type="file" (change)="thumbUploadStart($event, 'research')"> <br><br><br>
        <fieldset class="form-group has-danger">
          <label class="form-control-label">Status</label>
          <input [(ngModel)]="currentResearchStatus" [ngModelOptions]="{standalone: true}" type="text"
            class="form-control form-control-danger">
        </fieldset>
        <fieldset class="form-group has-danger">
          <label class="form-control-label">Onderzoekers</label>
          <input [(ngModel)]="currentResearchResearches" [ngModelOptions]="{standalone: true}" type="text"
            class="form-control form-control-danger">
        </fieldset><br><br>

       <!--  <label for="start">Datum:<small><br>De meest recente komt bovenaan de site</small></label><br>
        
        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"><br><br> -->
      </div>



      <div class="htmladjust2">
        <app-wysig [elementId]="'researchwysig'" [(prefill)]="currentResearchWysig"
          (onEditorKeyup)="keyupHandlerFunction($event)" (carretPosition)="giveRangeBack($event)">
        </app-wysig>
      </div>
      <button *ngIf="newResearch" type="submit" (click)="adjustResearches('new')"
        class="btn btn-primary btn-lg">Opslaan</button>
      <button *ngIf="!newResearch" (click)="adjustResearches('edit')" type="submit"
        class="btn btn-primary btn-lg">Bijwerken</button>
    </form>
    <!-- /registration form-->
  </div>

</ng-template>




<ng-template #newstemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Nieuws</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- registration form-->
      <form class="">
        <fieldset class="form-group has-danger">
          <label class="form-control-label">Nieuwsbericht titel</label>
          <input [(ngModel)]="currentNewsTitle" [ngModelOptions]="{standalone: true}" type="text"
            class="form-control form-control-danger">
        </fieldset>
        <hr class="m-b-2" />
  
        <div *ngIf="!newNews">
          <img *ngIf="currentNewsCover != ''" [src]="'uploads/' + currentNewsCover"
            class="img-reponsive img-rounded" />
          <img *ngIf="currentNewsCover == ''" src="assets/news.jpg" class="img-reponsive img-rounded" />
          <br>
          <p>Afbeelding uploaden</p>
          <input type="file" (change)="thumbUploadStart($event, 'news')"> <br><br><br>
         <!--  <label for="start">Datum:<small><br>De meest recente komt bovenaan de site</small></label><br>
          <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"><br><br> -->
        </div>
  
  
  
        <div class="htmladjust2">
          <app-wysig [elementId]="'Newswysig'" [(prefill)]="currentNewsWysig"
            (onEditorKeyup)="keyupHandlerFunction($event)" (carretPosition)="giveRangeBack($event)">
          </app-wysig>
        </div>
        <button *ngIf="newNews" type="submit" (click)="adjustNews('new')"
          class="btn btn-primary btn-lg">Opslaan</button>
        <button *ngIf="!newNews" (click)="adjustNews('edit')" type="submit"
          class="btn btn-primary btn-lg">Bijwerken</button>
      </form>
      <!-- /registration form-->
    </div>
  
  </ng-template>







<ng-template #publicationtemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Publicatie</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- registration form-->
    <form class="">
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Titel</label>
        <input [(ngModel)]="currentPublicationTitle" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>

      <hr class="m-b-2" />
      <div *ngIf="!newPublication">
          <img *ngIf="currentPublicationCover != ''" [src]="'uploads/' + currentPublicationCover"  class="img-reponsive img-rounded" />
          <img *ngIf="currentPublicationCover == ''" src="assets/publication.jpg"  class="img-reponsive img-rounded" />
        <p>Afbeelding uploaden</p>
        <input type="file" (change)="thumbUploadStart($event, 'publication')"> <br>
      </div>
      <div class="htmladjust2">
        <app-wysig [elementId]="'publicationwysig'" [(prefill)]="currentPublicationWysig"
          (onEditorKeyup)="keyupHandlerFunction($event)" (carretPosition)="giveRangeBack($event)">
        </app-wysig>
      </div>
      <button *ngIf="newPublication" (click)="adjustPublications('new')" type="submit"
        class="btn btn-primary btn-lg">Opslaan</button>
      <button *ngIf="!newPublication" (click)="adjustPublications('edit')" type="submit"
        class="btn btn-primary btn-lg">Bijwerken</button>
    </form>
    <!-- /registration form-->
  </div>
</ng-template>



<ng-template #whotemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Persoon</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- registration form-->
      <form class="">
        <fieldset class="form-group has-danger">
          <label class="form-control-label">Naam</label>
          <input [(ngModel)]="currentWhoTitle" [ngModelOptions]="{standalone: true}" type="text"
            class="form-control form-control-danger">
        </fieldset>

        <fieldset class="form-group has-danger">
            <label class="form-control-label">Organisatie</label>
            <input [(ngModel)]="currentWhoWysig" [ngModelOptions]="{standalone: true}" type="text"
              class="form-control form-control-danger">
          </fieldset>
          <p>Soort;</p>
          <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [checked]="currentWhoType === '1'" class="form-check-input" value="1" [attr.name]="'who'"> Stuurgroep
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [checked]="currentWhoType === '0'" class="form-check-input" value="0" [attr.name]="'who'"> Ondersteunende groep
              </label>
            </div>
        <hr class="m-b-2" />
        <div *ngIf="!newWho">
            <img *ngIf="currentWhoCover != ''" [src]="'uploads/' + currentWhoCover"  class="img-reponsive img-rounded" />
            <img *ngIf="currentWhoCover == ''" src="assets/who.jpg"  class="img-reponsive img-rounded" />
          <p>Afbeelding uploaden</p>
          <input type="file" (change)="thumbUploadStart($event, 'Who')"> <br>
        </div>
        <br><br>
    
        <button *ngIf="newWho" (click)="adjustWho('new')" type="submit"
          class="btn btn-primary btn-lg">Opslaan</button>
        <button *ngIf="!newWho" (click)="adjustWho('edit')" type="submit"
          class="btn btn-primary btn-lg">Bijwerken</button>
      </form>
      <!-- /registration form-->
    </div>
  </ng-template>




<ng-template #grouptemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Groep</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="">
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Titel</label>
        <input [(ngModel)]="currentGroupTitle" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>
      <hr class="m-b-2" />
      <div class="htmladjust2">
        <app-wysig [elementId]="'groupwysig'" [(prefill)]="currentGroupWysig"
          (onEditorKeyup)="keyupHandlerFunction($event)" (carretPosition)="giveRangeBack($event)">
        </app-wysig>
      </div>
      <button *ngIf="newGroup" (click)="adjustGroups('new')" type="submit"
        class="btn btn-primary btn-lg">Opslaan</button>
      <button *ngIf="!newGroup" (click)="adjustGroups('edit')" type="submit"
        class="btn btn-primary btn-lg">Bijwerken</button>
    </form>
  </div>

</ng-template>

<ng-template #filestogroup>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Bestanden van deze groep</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"><br>
    <!-- registration form-->
    <p>Bestand toevoegen:</p>
    <input type="file" (change)="fileUploadStart($event)">
    <br>
    <br>
    <p>Bestanden verwijderen:</p><br><br>
    <!-- /registration form-->
    <div class="row">
      <div *ngFor="let file of groupFiles; let i = index" class="col-3">
        <h5>{{file.name}}</h5>
        <p>type: <b>{{file.type}}</b></p>
        <img src="assets/file.png" style="max-width:100px"><br>
        <a type="button" [href]="'uploads/' +file.name" download class="btn btn-info btn-sm btn-block"
          style="color:black">Download</a>
        <button type="button" (click)="openSureModal(areusure, 'file', file.id)"
          class="btn btn-danger btn-sm btn-block">Verwijder</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #textblocks>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{currentTextBlockName}} tekst aanpassen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"><br>
    <!-- registration form-->
    <div *ngIf='textblockloaded' class="htmladjust2">
      <app-wysig [elementId]="'textblockwysig'" [(prefill)]="currentTextBlockWysig"
        (onEditorKeyup)="keyupHandlerFunction($event)" (carretPosition)="giveRangeBack($event)">
      </app-wysig><br>
      <button type="button" (click)="saveTextBlock()" class="btn btn-primary btn-sm btn-block">Aanpassen</button>

    </div>
  </div>

</ng-template>



<ng-template #usertemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gebruiker</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="">
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Naam</label>
        <input [(ngModel)]="currentUserName" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Achternaam</label>
        <input [(ngModel)]="currentUserLastName" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Email / Gebruikersnaam</label>
        <input [(ngModel)]="currentUserEmail" [ngModelOptions]="{standalone: true}" type="text"
          class="form-control form-control-danger">
      </fieldset>
      <fieldset class="form-group has-danger">
        <label class="form-control-label">Wachtwoord</label>
        <input [(ngModel)]="currentUserPwd" [ngModelOptions]="{standalone: true}" type="password"
          class="form-control form-control-danger">
      </fieldset>
      <hr class="m-b-2" />
      <button *ngIf="newUser" (click)="adjustUsers('new')" type="submit" class="btn btn-primary btn-lg">Opslaan</button>
      <button *ngIf="!newUser" (click)="adjustUsers('edit')" type="submit"
        class="btn btn-primary btn-lg">Bijwerken</button>
    </form>
  </div>
</ng-template>


<ng-template #groupusers>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Groepsdeelnemers</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-datatable class="bootstrap" [rows]="userRows" [columns]="columns" [columnMode]="'force'"
      [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
      <ngx-datatable-column name="Naam" prop="uname" [sortable]="true">

        <ng-template let-column="column" let-sort="sortFn">
          <span style="cursor:pointer">
            {{column.name}}
          </span>
        </ng-template>

        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div [innerHTML]="row['uname'] + ' ' + row['lastname']"></div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email" prop="email" [sortable]="true">

        <ng-template let-column="column" let-sort="sortFn">
          <span style="cursor:pointer">
            {{column.name}}
          </span>
        </ng-template>

        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div [innerHTML]="row['email']"></div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Aan groep" [sortable]="true">

        <ng-template let-column="column" let-sort="sortFn">
          <span style="cursor:pointer">
            {{column.name}}
          </span>
        </ng-template>

        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" *ngIf="row['togroup'] == 0" (click)="userToFromGroup('add', row['id'])"
              class="btn btn-danger">
              &nbsp;&nbsp;&nbsp;
            </button><button type="button" *ngIf="row['togroup'] == 1" (click)="userToFromGroup('remove', row['id'])"
              class="btn btn-success">
              &nbsp;&nbsp;&nbsp;
            </button></div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</ng-template>


<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="height:50px">
  <a routerLink="/" class="navbar-brand col-sm-3 col-md-2 mr-0">RENursE Admin</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" style="cursor: pointer" *ngIf="!adminisLoggedIn" (click)='openModal(adminmodal)'>Log In</a>
      <a class="nav-link" style="cursor: pointer" *ngIf="adminisLoggedIn" (click)='LogOut()'>Log Uit</a>
    </li>
  </ul>
</nav>

<div *ngIf="adminisLoggedIn" class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar"><br><br>
      <div class="sidebar-sticky" style="padding:20px">
        <p>v1.3 <br>
          <a href="https://edease.nl" target="_blank">EaseCMS</a><br>
          door
          <a href="https://edease.nl" target="_blank">EDease</a><br>


        </p>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


      <!-- Research -->

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Admin</h1>
      </div>

      <tabset type="pills">
          



        <tab heading="Onderzoeken" (select)="getSome('research')">
          <br>
          <h2>Onderzoeken</h2>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary " style="border-radius: 10px"
              (click)="openLargeModal(researchtemplate, 'newresearch', 0)"><i class="fa fa-plus" aria-hidden="true"></i>
              Onderzoek toevoegen</button>
          </div><br><br>
          <ngx-datatable class="bootstrap" [rows]="researchRows" [columns]="columns" [columnMode]="'force'"
            [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
            <ngx-datatable-column name="Naam onderzoek" prop="userid" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['uname']"></div>
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column name="Actief" prop="userid" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                X/X
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="Acties" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group">
                  <button type="button" (click)="openLargeModal(researchtemplate, 'editresearch', row['id'])"
                    class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" (click)="openSureModal(areusure, 'research', row['id'])" class="btn btn-danger"
                    data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-trash"></i>
                  </button></div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </tab>
        <tab (select)="getSome('publications')" heading="Publicaties"><br>
          <h2>Publicaties</h2><br>
          <p>Publicaties kun je koppelen aan onderzoeken.</p>
          <p>Als de publicatie nergens aan gekoppeld zit, komt deze bij de losstaande publicaties te staan.</p>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" style="border-radius: 10px"
              (click)="openLargeModal(publicationtemplate, 'newpublication', 0)"><i class="fa fa-plus"
                aria-hidden="true"></i> Publicatie toevoegen</button>
          </div><br><br>
          <ngx-datatable class="bootstrap" [rows]="publicationRows" [columns]="columns" [columnMode]="'force'"
            [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
            <ngx-datatable-column name="Publicatienaam" prop="userid" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['name']"></div>
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column name="Actief" prop="userid" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                X/X
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="Acties" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group">
                  <button type="button" (click)="openLargeModal(publicationtemplate, 'editpublication', row['id'])"
                    class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" (click)="openSureModal(areusure, 'publication', row['id'])"
                    class="btn btn-danger" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-trash"></i>
                  </button></div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </tab>
        <tab (select)="getSome('groups')" heading="Groepen"><br>
          <h2>Groepen</h2><br>
          <p>Gekoppelde gebruikers kunnen bestanden hiervan downloaden op hun downloadpagina.</p>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" style="border-radius: 10px"
              (click)="openLargeModal(grouptemplate, 'newgroup', 0)"><i class="fa fa-plus" aria-hidden="true"></i> Groep
              toevoegen</button>
          </div><br><br>
          <ngx-datatable class="bootstrap" [rows]="groupRows" [columns]="columns" [columnMode]="'force'"
            [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
            <ngx-datatable-column name="Groepnaam" prop="name" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['name']"></div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Acties" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="button" (click)="openLargeModal(grouptemplate, 'editgroup', row['id'])"
                    class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-edit"></i>
                  </button><button type="button" (click)="openLargeModal(groupusers, 'groupusers', row['id'])"
                    class="btn btn-info" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-group"></i>
                  </button><button type="button" (click)="openLargeModal(filestogroup, 'filestogroup', row['id'])"
                    class="btn btn-success" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-file"></i>
                  </button></div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </tab>

        <tab heading="Nieuws" (select)="getSome('news')">
            <br>
            <h2>Nieuws</h2>
            <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary " style="border-radius: 10px"
                (click)="openLargeModal(newstemplate, 'newnews', 0)"><i class="fa fa-plus" aria-hidden="true"></i>
                Nieuws toevoegen</button>
            </div><br><br>
            <ngx-datatable class="bootstrap" [rows]="newsRows" [columns]="columns" [columnMode]="'force'"
              [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
              <ngx-datatable-column name="Naam nieuws" prop="userid" [sortable]="true">
  
                <ng-template let-column="column" let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>
  
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div [innerHTML]="row['name']"></div>
                </ng-template>
              </ngx-datatable-column>
  
              <!-- <ngx-datatable-column name="Actief" prop="userid" [sortable]="true">
  
                <ng-template let-column="column" let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>
  
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  X/X
                </ng-template>
              </ngx-datatable-column> -->
  
              <ngx-datatable-column name="Acties" [sortable]="true">
  
                <ng-template let-column="column" let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>
  
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="btn-group">
                    <button type="button" (click)="openLargeModal(newstemplate, 'editnews', row['id'])"
                      class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" (click)="openSureModal(areusure, 'news', row['id'])" class="btn btn-danger"
                      data-toggle="modal" data-target=".modal-edit">
                      <i class="fa fa-trash"></i>
                    </button></div>
                </ng-template>
              </ngx-datatable-column>
  
            </ngx-datatable>
  
          </tab>

        <tab (select)="getSome('users')" heading="Gebruikers"><br>
          <h2>Gebruikers</h2><br>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" style="border-radius: 10px"
              (click)="openLargeModal(usertemplate, 'newuser', 0)"><i class="fa fa-plus" aria-hidden="true"></i>
              Gebruiker toevoegen</button>
          </div><br><br>
          <ngx-datatable class="bootstrap" [rows]="userRows" [columns]="columns" [columnMode]="'force'"
            [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
            <ngx-datatable-column name="Naam" prop="uname" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['uname'] + ' ' + row['lastname']"></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Email" prop="email" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['email']"></div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Acties" [sortable]="true">

              <ng-template let-column="column" let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" (click)="openLargeModal(usertemplate, 'edituser', row['id'])"
                    class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-edit"></i>
                  </button> <button type="button" (click)="openSureModal(areusure, 'user', row['id'])"
                    class="btn btn-danger" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-trash"></i>
                  </button></div>

              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </tab>

        <tab heading="Blokteksten" (select)="getSome('textblocks')"><br>
          <h4>Blokteksten aanpassen</h4>
          <p>Hier Hier kun je de Blokteksten aanpassen.</p>

          <div class="container">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <img src="assets/service/icon/visie.png">
                    <h5 class="card-title">Visie</h5>
                    <a (click)="openLargeModal(textblocks, 'textblocks', 1)" style="color:white"
                      class="btn btn-primary">Wijzig tekst</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">

                  <div class="card-body">
                    <img src="assets/service/icon/samenwerking.png">
                    <h5 class="card-title">Oprichting</h5>
                    <a (click)="openLargeModal(textblocks, 'textblocks', 2)" style="color:white"
                      class="btn btn-primary">Wijzig tekst</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">

                  <div class="card-body">
                    <img src="assets/service/icon/onderzoek.png">
                    <h5 class="card-title">Onderzoeksprogramma</h5>
                    <a (click)="openLargeModal(textblocks, 'textblocks', 3)" style="color:white"
                      class="btn btn-primary">Wijzig tekst</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">

                  <div class="card-body">
                    <img src="assets/service/icon/agenda.png">
                    <h5 class="card-title">Agenda</h5>
                    <a (click)="openLargeModal(textblocks, 'textblocks', 4)" style="color:white"
                      class="btn btn-primary">Wijzig tekst</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
          </div>

        </tab>

        <tab heading="Wie is wie?" (select)="getSome('whoiswho')">
            <br>
            <h2>Wie is wie?</h2>
            <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary " style="border-radius: 10px"
                (click)="openLargeModal(whotemplate, 'newwho', 0)"><i class="fa fa-plus" aria-hidden="true"></i>
                Persoon toevoegen</button>
            </div><br><br>
            <ngx-datatable class="bootstrap" [rows]="whoRows" [columns]="columns" [columnMode]="'force'"
              [messages]="tableMessages" [headerHeight]="40" [footerHeight]="40" [limit]="40" [rowHeight]="'auto'">
              <ngx-datatable-column name="Naam onderzoek" prop="userid" [sortable]="true">
  
                <ng-template let-column="column" let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>
  
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div [innerHTML]="row['name']"></div>
                </ng-template>
              </ngx-datatable-column>
  
              <!-- <ngx-datatable-column name="Actief" prop="userid" [sortable]="true">
  
                <ng-template let-column="column" let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>
  
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  X/X
                </ng-template>
              </ngx-datatable-column> -->
  
              <ngx-datatable-column name="Acties" [sortable]="true">
  
                <ng-template let-column="column" let-sort="sortFn">
                  <span style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>
  
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="btn-group">
                    <button type="button" (click)="openLargeModal(whotemplate, 'editwho', row['id'])"
                      class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" (click)="openSureModal(areusure, 'who', row['id'])" class="btn btn-danger"
                      data-toggle="modal" data-target=".modal-edit">
                      <i class="fa fa-trash"></i>
                    </button></div>
                </ng-template>
              </ngx-datatable-column>
  
            </ngx-datatable>
  
          </tab>

        <tab heading="Instellingen" (select)="getSome('logos')"><br>
          <h2>Instellingen</h2>
          <br>
          <fieldset class="form-group has-danger">
            <label for="password" class="form-control-label">Email adres waar het contactformulier naar wordt
              gestuurd:</label>
            <input [(ngModel)]="emailAdmin" [ngModelOptions]="{standalone: true}" type="email"
              class="form-control form-control-danger">
          </fieldset>
          <button type="button" class="btn btn-primary" (click)="saveAdminEmail()">Email bijwerken</button>&nbsp;&nbsp;

          <br><br>
          <h4>Logo's</h4>
          <p>Hier kun je partner logo's uploaden & verwijderen.<br> Upload een nieuw logo:</p>
          <input type="file" (change)="thumbUploadStart($event, 'orglogo')"> <br><br>
          Verwijder

          <div class="container">
            <div class="row">
              <div *ngFor="let logo of logoArray; let i = index" class="col-sm">
                <img [src]="'uploads/' + logo.filename" class="img-thumbnail">
                <button type="button" (click)="openSureModal(areusure, 'orglogo', logo.id)"
                  class="btn btn-danger btn-sm">X</button>
              </div>
            </div>
          </div>

        </tab>

      </tabset>





    </main>
  </div>
</div>
