  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
  
       
      
       <!-- End Footer Area -->

       <div style="background: url(assets/bg/breadcumb3.jpg) no-repeat center center / cover;"
        class="breadcumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="breadcumb-title">Meer info</h2>
                    <h3 style="color:white">Bekijk hier de laatste informatie / mededelingen over RENursE</h3>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end  -->
    <!-- blog area start -->
    <div class="blog-area blog-classic-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    
                    <div class="shadow" style="padding:50px" *ngFor="let news of newsArray; let i = index">
                       
                        <div class="content">
                            
                            <h2>{{news.name}}</h2>
                            <ul class="blog-meta-top">
                                <li><i class="fa fa-tags"></i>{{news.date}} </li>
                            </ul><br>
                            <div *ngIf="news.coverurl !== ''" class="single_post_thumbnail" [style.background-image]="'url(/uploads/' + news.coverurl + ')'" style="background-size: cover; background-position: center" alt="single post thumbail">
                               <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br>
                            </div><br>
                            <div [innerHTML]="news.wysig | safe: 'html'">

                        </div>
                    </div>
                  <br><br><br>
                </div></div>
                <div class="col-lg-4">
                    <img src="assets/news.png" class="img-reponsive">
                    

                    
                </div>
            
        </div>
    </div>
    <!-- blog area end -->
    <!-- footer area start -->
   
   </div>