  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
  
       <!-- End Header Style -->
       
       
       <!--Our blob page-->
       <div class="our_blog_area ptb--100">
           <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-8 col-12">
                      <div class="sidebar_right">
                         
                          <div class="widget author_information">
                              <div class="author_info_imag">
                                  <img src="images/blog/sidebar/author_image.png" alt="">
                              </div>
                              <div class="author_content text-center">
                                  <h3 style="color:red">Nieuws</h3>
                                  <p>Het laatste van RENursE!</p>
                              </div>
                              
                          </div>      
                             
                          
                          
                       </div>
                  </div>
                   <div   class="col-lg-8 col-md-12 col-12">
                       <div *ngFor="let news of newsArray; let i = index" class="post_details_inner">
                           <div class="single_post_thumbnail">
                               <img [src]="'/uploads/' + news.coverurl" alt="single post thumbail">
                           </div>
                           <div class="single_post_content">
                               <div class="single_post_top_contnt">
                                   <div class="single_post_title">
                                       <h2>{{news.name}}</h2>
                                   </div>
                                   <div class="single_post_meta">
                                       <div class="single_post_left_meta">
                                           <ul>
                                               <li>{{news.date}}</li>
                                           </ul>
                                       </div>
                                      
                                   </div>
                               </div>
                               
                               <div [innerHTML]="news.wysig | safe: 'html'" class="post_excerpt">
      
                               </div>
                               
                               
                               
                           </div>
                           
                           <br><br>
                       </div>
                   </div>
                
               </div>
               
           </div>
       </div>
       <!--Our blob page end-->
      
       <!-- End Footer Area -->
   </div>