<!-- Start Gallery Area -->
<section class="htc__gallery__area gallery--1 ">

  <div style="background: url(assets/bg/breadcumb6.jpg) no-repeat center center / cover;"
        class="breadcumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="breadcumb-title">Publicaties</h2>
                </div>
            </div>
        </div>
    </div>


  <div class="container">
    <br><br><br><br>
    <div class="row">
      

        <div class="col-4">
          <img src="assets/publica.png" class="img-fluid" ><br><br>
          Klik op de link van de publicatie om hiernaartoe te navigeren.</div>

        <div class="col-8">
            <ol class="list-group list-group-numbered">
                <li *ngFor="let pub of publicationArray; let i = index" class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <br>
                    <div [innerHTML]="pub.wysig | safe: 'html'" class="fw-bold"></div>
                    {{pub.name}}
                    <br><br>
                  </div>
                  
                </li>
                
              </ol>
              <br><br><br>
        </div>

     
    </div>
    <!-- <div class="row">

      <div class="col-lg-4 col-md-6 col-12">
        <div class="singel_project mb--30">
          <div class="project_img">
            <a href="#">
              <img src="assets/portfolio/project/1.png" alt="Cardiology Icon">
            </a>
          </div>
          <div class="project_content">
            <h3><img src="assets/portfolio/project/icon-1.png" alt="Cardiology Dept"><a href="#">Pub 1</a></h3>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="singel_project mb--30">
          <div class="project_img">
            <a href="#">
              <img src="assets/portfolio/project/2.png" alt="Cardiology Dept">
            </a>
          </div>
          <div class="project_content">
            <h3><img src="assets/portfolio/project/ser-cion-2.png" alt="Cardiology icon"><a href="#">Pub 2</a></h3>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="singel_project mb--30">
          <div class="project_img">
            <a href="#">
              <img src="assets/portfolio/project/3.png" alt="Cardiology Icon">
            </a>
          </div>
          <div class="project_content">
            <h3><img src="assets/portfolio/project/ser-cion-3.png" alt="Cardiology Dept"><a href="#">Pub 3</a></h3>
            <p>The point of using Lorem Ipsum is that it has a more-or-less normal</p>
          </div>
        </div>
      </div>


    </div> -->
  </div>
</section>
<!-- End Gallery Area -->
